*{
    margin: 0;
}
.navbar 
{
    display: flex;
    justify-content:end;
    align-items: center;
    gap: 40px;
    background-color: none;
    width: 100%;
    height: 10vh;
}
.navborder
{
    margin-top: 10vh;
    background-color: #000;
    border:#FFF;
    width: 100%;
    height:3px;
    /* position: fixed; */
}
.list
{
   padding-right: 5%;
   /* position: fixed; */
}
li{
    list-style: none;
    padding: 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.navbar a:hover
{
    color:#000;     
    text-decoration: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.bgimg
{
    background-image: url(ora1.png);
    background-repeat: repeat-y;
    background-size: 100% 100%;
    width: 100%;
    background-size:100% 100%; 
    height: 100vh;
}
.navbar a{
    text-decoration: none;
    color: #FFF; 
}
.tabcontent
{
    padding-left: 60px;
    color:#FFF;
    list-style: none;
    padding: 20px;
    font-size: 20px;
    font-family: 'Montserrat-bold', sans-serif;
}
.form
{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    /* row-gap: 10px; */
    font-family: 'Montserrat', sans-serif;
    color:#FFF;
}
.form button{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 30px;
    height: 30px;
    width: 400px;
    font-family: 'Montserrat-bold', sans-serif;
    text-align: center;
}
.form button:hover
{
    background-color: black;
    color: #ddd;
}
.tabform
{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
button
{
    font-size: 15px;
    border-radius: 20%;
}
.steps button{
    background-image: url(ora.jpg);
    border-radius: 0;
    height: 200px;
    width: 200px;
    font-size: 30px;
    font-family: "Briem Hand", cursive;
    text-align: center;
}
.steps button:hover{
    background-image: url(ora1.png);
    color: #FFF;
}
.steps{
    padding-top:100px;
    display: flex;
    flex-direction: row;
    width: max-content;
    align-items: center;
    column-gap: 400px;
    margin-left: 20px;
    width: 300px;
    border-radius: 30px;
}
.steps a
{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "Briem Hand", cursive;
}

table {
    width: 60%; /* Decreased width to fit the screen */
    border-collapse: collapse;
    margin: 20px;
}

/* Style the table header */
th {
    padding: 8px; /* Decreased padding */
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    text-align: center;
    color: #000;
}

/* Style the table cells */
td {
    padding: 8px; /* Decreased padding */
    border: 1px solid #ddd;
    text-align: center;
}

td.bg-green {
    background-color: lightgreen;
}
.timetable-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-gap: 20px; /* Gap between tables */
    /* margin: 20px auto; */
    width: 90%;
}

.timetable {
    width: 100%; /* Full width of the container */
    font-size: 10px;
    /* margin: 20px; */
}


body {
    margin: 0;
    background-image: url(ora1.png);
    background-repeat: repeat-y;
    background-size: 100% 100%;
    background-attachment: fixed; /* Ensures background image stays fixed while scrolling */
    font-family: 'Montserrat', sans-serif; /* Set default font family */
    color: #FFF; /* Set default text color */
}

/* .prevnext{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-top: 30px;
}
.prev{
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nxt{
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
} */
/* .prev button{
    font-size: 20px;
    border-radius: 30px;
    height: 30px;
    width: 100px;
    font-family: 'Montserrat-bold', sans-serif;
    text-align: center;
}
.nxt button{
    font-size: 20px;
    border-radius: 30px;
    height: 30px;
    width: 100px;
    font-family: 'Montserrat-bold', sans-serif;
    text-align: center;
} */
.prevnext a {
    text-decoration: none;
    display: inline-block;
    
    padding: 8px 16px;
  }
  
.prevnext a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .prevnext .previous {
    margin-left: 20px;
    background-color: #f1f1f1;
    color: black;
  }
  
  .prevnext .next {
    background-color: black;
    color: white;
  }
  
  .prevnext .round {
    border-radius: 50%;
  }

  .form3 button{

    /* padding: 10px; */
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 30px;
    height: 50px;
    width: 100px;
    font-family: 'Montserrat-bold', sans-serif;
    text-align: center;
}