*{
    margin: 0;
}
.navbar 
{
    display: flex;
    justify-content:end;
    align-items: center;
    gap: 40px;
    background-color: none;
    width: 100%;
    height: 10vh;
}

/* .navborder
{
    margin-top: 10vh;
    background-color: #000;
    border:#FFF;
    width: 100%;
    height:3px;
    position: fixed;
} */
.list
{
   padding-right: 5%;
   position: fixed;
}
li{
    list-style: none;
    padding: 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
img{
    height: 600px;
    width: 600px;
    margin-top: 50px;
    margin-left: 70px;
}
.imgform
{
    display: flex;
    justify-content: space-between;


}
.navbar a:hover
{
    color:#000;     
    text-decoration: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.bgimg
{
    background-image: url(ora.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    background-size:100% 100%; 
    height: 100vh;
}
.navbar a{
    text-decoration: none;
    color: #FFF; 
}
form
{
    padding-top: 40px;
    margin-top: 90px;
    margin-right: 90px;
    background-color:#FFF;
    border: #000;
    border-style: groove;
    border-radius: 30px;
    width: 300px;
    height: 350px;
    padding-bottom: 10px;
    
}
.form h1{
    font-family: "Briem Hand", cursive;
}
.form
{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: larger;
    font-family: 'Montserrat', sans-serif;
    color:#000;
}
button
{
    font-size: 20px;
    border-radius: 30px;
    height: 30px;
    width: 100px;
    font-family: 'Montserrat-bold', sans-serif;
    text-align: center;
}
button:hover
{
    background-color: #000;
    color: #FFF;
}
input
{
    border-radius: 20%;
}
